<section class="container mt-3 mb-2" id="fazerPostagem">
      <div class="row">
        <div class="col-md-12">
          <div class="row mt-1">
            <h4>Olá, {{nomeUsuarioLogado}}</h4>
          </div>
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="form-group align-text-top">

                  <textarea [(ngModel)]='postagem.texto' class="texto" type="text" name="texto" id="postagem"
                    placeholder="No que você está pensando hoje?"></textarea>

                </div>

                <div class="row">
                  <div class="col-md-8">

                    <input [(ngModel)]='postagem.midia' class="midia" type="text" name="midia" id="postagem"
                      placeholder="Insira o link de uma foto aqui">

                  </div>

                  <div class="col-md-4">

                    <select [(ngModel)]='postagem.tipoMidia' class="form-select" aria-label=".form-select-lg example"
                      name='select-opcao' id='select-opcao' (change)='selecionaMidia($event)'>
                      <option selected>Selecione uma opção</option>
                      <option value="video">Vídeo</option>
                      <option value="imagem">Imagem</option>
                    </select>

                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-2 h-100">
              <div class="row d-flex justify-content-center h-50">
                <button class="botaoCancelar btn btn-danger" (click)='cancelar()'>Cancelar</button>
              </div>

              <div class="row d-flex justify-content-center h-50">
                <button class="botaoPublicar btn btn-success" (click)='publicar()'>
                  Publicar
                </button>

              </div>
            </div>

          </div>
</div></div>
  </section>

