<div id="bg">
  <section class="container">
    <div class="row">
      <div class="col-12">

        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-1 mt-md-2 mt-lg-4 d-flex justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-5 m-2 p-3" id="bg-blur">
              <div class="d-md-block">
                <div class="">
                  <p>
                    <a routerLink="/pagina-inicio" class="me-3"><i class="fas fa-door-open"></i></a>
                    <a routerLink="/login" class="small"> Login </a>
                    <span class="mx-2 text-white"> | </span>
                    <a class="small me-3 active-btn"> Cadastrar-se </a>
                  </p>
                </div>
                <h3 class="text-center text-white m-0">CADASTRO</h3>

                <div class="form-group" [formGroup]="formulario">
                  <label for="nome" class="text-white px-3">USUARIO</label>
                  <input  class="form-control bg-form" type="text" formControlName="nome" id="nome"
                    placeholder="Nome">
                </div>

                <div class="form-group px-3" [formGroup]="formulario">
                  <label for="usuario"></label>
                  <input  class="form-control bg-form" type="text" formControlName="usuario"
                    id="usuario" placeholder="usuario@exemplo.com">
                </div>

                <div class="form-group px-3" [formGroup]="formulario">
                  <label for="foto"></label>
                  <input  class="form-control bg-form" type="foto" formControlName="foto" id="foto"
                    placeholder="Link da foto">
                </div>

                <div class="form-group py-2">
                  <label for="senha" class="text-white px-3">SENHA</label>
                  <input (input)='confirmarSenha($event)' class="form-control bg-form" type="password" name="senha"
                    id="senha" placeholder="Senha">
                </div>

                <div class="form-group px-3" [formGroup]="formulario">
                  <label for="confirmarSenha"></label>
                  <input  class="form-control bg-form" type="password" formControlName="confirmarSenha"
                    id="confirmarSenha" placeholder="Confirmar Senha">
                </div>

                <div class="form-group py-2">
                  <label for="tipo" class="text-white px-3">TIPO DE USUARIO</label>
                  <select class="form-control bg-form" name="tipo" id="tipo" (change)='tipoUser($event)'>
                    <option>Selecione um tipo de usuario:</option>
                    <option value="aluno">Aluno</option>
                    <option value="professor">Professor</option>
                  </select>
                </div>

                <div class="mt-4 d-flex justify-content-center">
                  <button routerLink="/login" type="submit"
                    class="btn btn-outline-light rounded-pill me-4">Cancelar</button>
                  <button type="submit" class="btn btn-login rounded-pill ms-4" (ngSubmit)='cadastrar()'>Cadastrar</button>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
</div>
