<section class="container sobre-bg ">
  <h1 class="text-center text-uppercase mt-4">Sobre a Illuminer</h1>
  <div class="row d-flex">
    <div class="col-md-6 align-self-center">
      <img height="270rem;" src="../../assets/img/logo.jpg" alt="">
    </div>
    <div class="col-md-6 lh-lg font-monospace fs-6 mt-3 ">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis beatae iusto ullam deserunt porro soluta repudiandae? Ratione, temporibus quasi totam, quisquam deleniti doloremque excepturi pariatur voluptas, mollitia impedit est sapiente eligendi fugiat esse maxime dicta unde? Incidunt repudiandae nihil tenetur officiis odio, doloremque aspernatur, velit, id dolor tempore fuga totam ipsa debitis temporibus Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas odio consequuntur non maiores cumque est ea vitae, architecto consequatur voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic molestiae dicta corrupti sint. Necessitatibus!</p>
    </div>
  </div>
</section>