<header class="container-fluid bg-header" id="header">

  <div class="row d-flex">

    <div class="col-md-6">
      <p class="title text-white-bold">
      Venha para a illuminer e acenda o seu conhecimento
    </p>
    <p class="d-none d-md-block"><em class="text-secondary">“Iluminado é aquele quem tem o dom de ensinar e quem é abençoado em aprender.”
    </em></p>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-login text-white-bold" routerLink='/login'>Vamos Nessa!</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-cadastro text-white-bold" routerLink='/cadastrar'>Cadastre-se</button></div>
  </div>

</header>
