.bg-header {
  background-image: url('../../assets/img/lapis-farol.jpg');
  background-size: cover;
  background-position: center;
  border-radius:  0px 0px 200px 0px;
}

#header {
  height: 40rem;
}

.title {
 padding-top: 13rem;
 font-size: 48px;
 text-transform: uppercase;
 color: #fff;
 text-align: center;
 text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
 font-family: Red Hat Text;
}

.btn {
  display: block;
  padding: .9rem;
  width: 230px;
  height: 50px;
  color: #000;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-login {
  background: #65C1E5;
  float: right;
  margin-top: 5rem;
}

.btn-cadastro {
  background-color: #f0d108;
  text-shadow: 2px 2px 10px #fff;
  margin-top: 5rem;
}

.btn-login:hover {
  background: #40add8;
  text-shadow: none;
  float: right;
}

.btn-cadastro:hover {
  background-color: #f0d000bd;
  color: #000;
  text-shadow: none;
}

@media (max-width: 1109px) { 
  .title {
    padding-top: 14rem;
    font-size: 42px;
  }
}
@media (max-width: 975px) { 
  .title {
    padding-top: 14rem;
    font-size: 38px;
  }
}
@media (max-width: 885px) { 
  .title {
    padding-top: 14rem;
    font-size: 34px;
  }
}
@media (max-width: 767px) { 
  .title {
    padding-top: 13rem;
    font-size: 30px;
    display: flex;
    justify-content: start;
  }
  .col-md-6{
    display: flex;
    justify-content: center;
  }
  .btn{
    margin-top: 10px;
  }
  .bg-header{
    border-radius:  0px 0px 100px 0px;
  }
}
@media (max-width: 767px) { 
  .title {
    padding-top: 17rem;
    font-size: 30px;
    display: flex;
    justify-content: start;
  }
  .col-md-6{
    display: flex;
    justify-content: center;
  }
  .btn{
    margin-top: 10px;
  }
  .bg-header{
    border-radius:  0px 0px 100px 0px;
  }
}
@media (max-width: 490px) { 
  .title {
    padding-top: 16rem;
    font-size: 30px;
    display: flex;
    justify-content: start;
  }
  .col-md-6{
    display: flex;
    justify-content: center;
  }
  .btn{
    margin-top: 10px;
  }
  .bg-header{
    border-radius:  0px 0px 100px 0px;
  }
}

