#btn-search{
  background-color: #fcfcfc;
  border-radius: 0 15px 15px 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.100);
  transition: 1s cubic-bezier(1, 1, 1.2, 1)
}

a{
  cursor: pointer;
}
#btn-search:hover{
  background-color: #f3f3f3;
  border-radius: 0 15px 15px 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.100);
}
#pesquisar{
  margin: 0;
  padding: 0;
  width: 25em;
}
#form-search{
  border: none;
  border-radius: 15px 0 0 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.100);
}
.float-right{
  left: -8em;
}
@media only screen and (max-width: 650px){
  #pesquisar{
    width: 16em;
  }
  .float-right{
    left: -8em;
  }
}
@media only screen and (min-width: 600px){
  .float-right{
    left: -8em;
  }
}
