#btn-search{
  background-color: #fcfcfc;
  border-radius: 0 15px 15px 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.100);
  transition: 1s cubic-bezier(1, 1, 1.2, 1)
}
#btn-search:hover{
  background-color: #f3f3f3;
  border-radius: 0 15px 15px 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.100);
}
#pesquisar{
  margin: 0;
  padding: 0;
  width: 25em;
}
#form-search{
  border: none;
  border-radius: 15px 0 0 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.100);
}
.float-right{
  left: -8em;
}
@media (max-width: 379px){
  #pesquisar{
    width: 20em;
  }
  .float-right{
    left: -4em;
  }
}
