<app-navbar></app-navbar>

<section class="container-fluid bg-feed">
<div class="row p-4 mt-6 d-flex align-items-center">

    <div class="col-md-12">
      <div class="card d-flex justify-content-center align-items-center ">
  
        <div class="card-header" [ngStyle]="{'background-image': 'url('+ fotoCapa+')'}">
  
          <a><i class="fas fa-pencil-alt rounded-circle position-absolute end-0 m-4 edit"
              data-bs-toggle="modal" data-bs-target="#exampleModal"></i></a>

          
          
          
           

        <div class="d-flex justify-content-center user-img">
            <img  *ngIf="usuario.foto == undefined " class="foto-usuario" src="../../assets/img/userNone.png" alt="Foto padrão de perfil">
            <img *ngIf="usuario.foto != undefined " class="foto-usuario" src={{usuario.foto}} alt="Foto de perfil do usuário">
        </div>
  
  
        </div>
  
        <div class="card-body">
          <div class="d-flex justify-content-center flex-column">
            <div class="nome-container">
  
              <div class="nome text-center">
  
                <h5 class="text-capitalize">{{nome}}</h5>
  
                <div class="tipo text-center">
                  <h6 class="text-uppercase small">{{tipo}}</h6>
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  
</div>


</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-capitalize text-white" id="exampleModalLabel"><i class="far fa-user-circle edit-modal"></i>Meus Dados</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <div class="container ps-4 pe-4">
  
            <div class="d-md-block">
  
              <div class="form-group my-2">
                <label for="nome" class="text-white text-uppercase">NOME</label>
                <input [(ngModel)]='usuario.nome' class="form-control bg-form" type="text" name="nome" id="nome">
              </div>
  
             <!--  <div class="form-group my-2">
                <label for="email" class="text-white text-uppercase px-3">USUARIO</label>
                <input [(ngModel)]='usuario.email' class="form-control bg-form" type="email" name="email" id="foto">
              </div> -->
  
              <div class="form-group p-0">
                <label for="foto" class="text-white text-uppercase px-3">LINK FOTO</label>
                <input [(ngModel)]='usuario.foto' class="form-control bg-form" type="foto" name="foto" id="foto" placeholder="Ponha o link da sua foto aqui! :D">
              </div>
  
              <div class="form-group my-2">
                <label for="fotoCapa" class="text-white text-uppercase px-3">LINK FOTO DE CAPA</label>
                <input [(ngModel)]='usuario.fotoCapa' class="form-control bg-form" type="fotoCapa" name="fotoCapa" id="fotoCapa" placeholder="Você pode por o link de uma foto de capa aqui! :D">
              </div>
  
              <!-- <div class="form-group py-2">
                <label for="senha" class="text-white px-3">SENHA</label>
                <input (input)='confirmarSenha($event)' class="form-control bg-form" type="password" name="senha"
                  id="senha" placeholder="">
              </div>
              <div class="form-group">
                <label for="confirmarSenha"></label>
                <input [(ngModel)]='usuario.senha' class="form-control bg-form" type="password" name="confirmarSenha"
                  id="confirmarSenha" placeholder="Confirmar Senha">
              </div> --> 
  
            </div>
  
          </div>
  
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-light btr me-4" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-info text-white btr me-4" data-bs-dismiss="modal" (click)='salvar()'>Salvar</button>
        </div>
      </div>

       
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!--Coluna da esquerda-->
      <div class="d-none d-md-block col-md-4">
        <app-engajamento></app-engajamento>
      </div>

      <!--Coluna da direita do perfil-->
      <div class="col-12 col-md-8 justify-content-center">

        <!--perfil aluno-->
        <app-atividade-aluno></app-atividade-aluno>
        <!--perfil professor-->
        <app-postagem *ngIf='usuario.tipo == "professor" '></app-postagem>

      </div>
    </div>
  </div>