<div class="usuario">
  <div class="top foto-bg">
    <div class="btn-edit">
      <button class="button">
        <a data-bs-toggle="modal" data-bs-target="#editarModal">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
      </button>
    </div>

    <div class="image-container d-flex justify-content-center">
      <img
        class="foto-usuario"
        src="{{ usuario.foto }}"
        alt="Foto de perfil do usuário"
      />
    </div>
  </div>

  <div class="bottom">
    <h4 class="nome text-center">{{ usuario.nome }}</h4>
    <h5 class="tipo text-center">{{ usuario.tipo }}</h5>
  </div>
</div>
