<div id="bg">
  <section class="container">
    <div class="row">
      <div class="col-12">

        <div class="row">
          <div class="col-12 col-sm-10 col-md-6 col-lg-4 mt-2 mt-md-5 mt-lg-5">
            <div class="bg-invisible mt-0 mt-md-5 mt-lg-5" id="formulario">

              <div class="m-2 p-1">
                <p>
                  <a routerLink="/pagina-inicio" class="me-3"><i class="fas fa-door-open"></i></a>
                  <a href="" class="small active-btn"> Login </a>
                  <span class="mx-2 text-white"> | </span>
                  <a routerLink="/cadastrar" class="small me-3"> Cadastrar-se </a>
                </p>
              </div>
              <h3 class="text-center text-white m-0">Entrar</h3>
              <form class="py-2 px-3">
                <div>
                  <label for="usuario" class="text-white px-3">USUARIO</label>
                  <input [(ngModel)]='usuarioLogin.email' name="email" type="email" class="form-control bg-form"
                    id="usuario" placeholder="usuario@exemplo.com">
                </div>
                <div class="py-2">
                  <label for="senha" class="text-white px-3">SENHA</label>
                  <input [(ngModel)]='usuarioLogin.senha' name="senha" type="password" class="form-control bg-form"
                    id="senha" placeholder="Senha">
                </div>

              </form>

              <div class="row mt-2">

                <div class="col-6 d-flex justify-content-around">

                  <button class="btn rounded-circle bg-google" type="submit"><i class="fab fa-google"></i></button>

                  <button class="btn rounded-circle bg-facebook" type="submit"><i class="fab fa-facebook"></i></button>

                </div>

                <div class="col-6">
                  <button (click)='login()' class="btn btn-login text-white w-75"
                    type="submit">entrar</button>
                </div>
                <a href="" class="small mx-4 text-dark d-flex">esqueci meu usuario/senha!</a>

              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
</div>
