.cor{
    background-color: #a1d7ec;
}
.cor2{
    background: #a1d7ec;
    border-radius: 60px;

}
.cor3{
    background: #FAE154;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
}
