<section class="corFundo shadow">
  <section class="container pt-2 pt-md-3">
    <h2 class="display-3 text-white shadow-text text-center">Desenvolvedores</h2>
    <!-- é só replicar a row completa e inserir as informações necessarias -->
    <div class="row pt-md-5">
      <div class="col-md-6 d-flex justify-content-center">

        <div class="card card-vermelho">

          <img src="../../assets/img/aline.png" alt="alo">
          <div class="content">
            <h2>Aline Brilhante</h2>
            <p class="text-wrap lh-1">Migrando para a área de tecnologia, com a Generation pude aprimorar habilidades comportamentais e
              tecnológicas, e busco por um ambiente colaborativo onde eu possa continuar me aprimorando.</p>
            <a href="https://www.linkedin.com/in/alinebrilhante" class="card-link" target="_blank"><i class="fa fa-linkedin fs-3"
                aria-hidden="true"></i></a>
            <a href="https://github.com/aline-brilhante" class="card-link" target="_blank"><i class="fa fa-github fs-3"
                aria-hidden="true"></i></a>

          </div>
        </div>

      </div>
      <div class="col-md-6 d-flex justify-content-center">

        <div class="card azul-marinho">

          <img src="../../assets/img/dafh.png" style="height: 320px;" alt="alo">
          <div class="content">
            <h2>Dafhne Novais</h2>
            <p class="text-wrap lh-1">Sempre fui criativa,mas devido a perda de apoio familiar, tive muita insegurança.
              Porém com o tempo e com a Generation conheci o mundo da tecnologia, e desenvolvi mais persistência, e
              inspiração.</p>
            <a href="https://www.linkedin.com/in/dafhne-novais-71324a178" class="card-link" target="_blank"><i
                class="fa fa-linkedin fs-3" aria-hidden="true"></i></a>
            <a href="https://github.com/DafhNovais" class="card-link" target="_blank">
              <i class="fa fa-github fs-3" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">

        <div class="card roxo-vermelho-azul">
          <img src="../../assets/img/David.png" alt="alo">
          <div class="content">
            <h2>David Costa</h2>
            <p class="text-wrap lh-1">Sou apaixonado pela tecnologia e vejo nela uma forma de ajudar as pessoas com o seu dia-a-dia. Quero ser
              capaz de ajudar as pessoas menos favorecidas através do meu trabalho .</p>
            <a href="https://www.linkedin.com/in/david-costa-mariano" class="card-link" target="_blank"><i class="fa fa-linkedin fs-3"
                aria-hidden="true"></i></a>
            <a href="https://github.com/DavidCostaBKE" class="card-link" target="_blank"><i class="fa fa-github fs-3"
                aria-hidden="true"></i></a>
          </div>
        </div>

      </div>
      <div class="col-md-6 d-flex justify-content-center">

        <div class="card card-esmeralda">
          <img src="../../assets/img/leto.png" alt="alo">
          <div class="content">
            <h2>Elielthon Soares</h2>
            <p class="text-wrap lh-1">
              Gosto que me chamem de Leto, desde a infância! Apaixonado por tecnologia e fotografia, busco desenvolver as habilidades adquiridas na Generation na área de TI e crescer no mercado de trabalho como desenvolvedor Fullstack...
            </p>
            <a href="https://linkedin.com/in/elielthon-soares/" class="card-link" target="_blank"><i class="fa fa-linkedin fs-3"
                aria-hidden="true"></i></a>
            <a href="http://github.com/LetoMurakai" class="card-link" target="_blank"><i class="fa fa-github fs-3"
              aria-hidden="true"></i></a>

          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">

        <div class="card preto">
          <img src="../../assets/img/fabricio.png" alt="alo">
          <div class="content">
            <h2>Fabricio Macedo</h2>
            <p class="text-wrap lh-1">Quando criança meu sonho sempre foi jogar futebol profissionalmente, como a vida sempre pode nos
              surpreender descobri
              uma paixão pela tecnologia a qual hoje me faz ter novos sonhos!</p>
            <a href="https://www.linkedin.com/in/fabricio-siqueira-macedo" class="card-link" target="_blank"><i
                class="fa fa-linkedin fs-3" aria-hidden="true"></i></a>
            <a href="https://github.com/fabriciio95" class="card-link" target="_blank"><i class="fa fa-github fs-3"
                aria-hidden="true"></i></a>
          </div>
        </div>

      </div>
      <div class="col-md-6 d-flex justify-content-center">

        <div class="card rosa-verde-amarelo">
          <img src="../../assets/img/nathy.png" alt="alo">
          <div class="content">
            <h2>Nathalia Pereira</h2>
            <p class="text-wrap lh-1"> Desde pequena sou muito ligada ás artes, devido a cultura que me cerca. E vejo na tecnologia uma forma
              inovadora de fazer arte, da qual quero participar!</p>
            <a href="https://www.linkedin.com/in/nathália-pereira-922930186" class="card-link" target="_blank"><i
                class="fa fa-linkedin fs-3" aria-hidden="true"></i></a>
            <a href="https://github.com/nathy2110" class="card-link" target="_blank">
              <i class="fa fa-github fs-3" aria-hidden="true"></i></a>

          </div>
        </div>
      </div>

    </div>

  </section>

</section>
