<section class="corFundo">
<section class="container">
    <!-- é só replicar a row completa e inserir as informações necessarias -->
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center">
            
            <div class="card">
                <img src="../../assets/img/David.png" alt="alo">
                <div class="content">
                    <h2>David Costa</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur adipisci eaque delectus qui? Aliquid ab laborum consectetur commodi deleniti odio!</p>
                    <a href="#">Saiba mais</a>
                </div>
            </div>
    
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            
            <div class="card">
                <img src="../../assets/img/David.png" alt="alo">
                <div class="content">
                    <h2>David Costa</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur adipisci eaque delectus qui? Aliquid ab laborum consectetur commodi deleniti odio!.</p>
                    <a href="#">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
    
</section>
</section>