<div class="container-fluid bg-amarelo borda-l pb-5 pt-5">

  <div class="row d-flex justify-content-center">
    <!------------------Newsletters---------------------------->
    <div class="col-12 d-flex justify-content-center">

      <div class="row m-0 p-0 my-5">

        <div class="col-12 text-center">

            <h2 class="display-3 text-white shadow-text">Newsletters</h2>
            <p class="lead text-white shadow-text title m-0">E AI, CURTIU E QUER APOIAR E SE MANTER ATUALIZADO SOBRE O PROJETO
              DA ILLUMINER ?</p>
            <button class="btn btn-login text-white-bold mt-2">Apoiar!</button>

        </div>

      </div>
    </div>

  </div>
