<section *ngFor="let atividade of paginaAtividade.content">
  <!--curtidas em publicação-->
  <div class="row m-0 mx-md-5 mb-3 mt-5" *ngIf="atividade.tipo == 'curtida' ">
    <div class="col-12">
      <div class="row  bg-atividades shadow-sm">

        <div class="col-3">
          <img class="d-flex rounded-circle" src="{{usuario.foto}}" width="60px" height="60px" alt="Foto do usuário">
        </div>

        <div class="col-9">
          <h5 class="nome-autor-comentario text-capitalize">{{usuario.nome}}</h5>
          <p class="text-dark m-0 p-0">Curtiu a <a class="postagem acessar"
              (click)="abrirPublicacao(atividade.idPostagem)">
              publicação</a> de :
            <a class="text-capitalize acessar" [routerLink]="['/perfil', atividade.idAutorPostagem]"
              (click)="abrirUsuario(atividade.idAutorPostagem)">{{atividade.nomeAutorPostagem}}</a>
          </p>
        </div>

      </div>
    </div>
  </div>
  <!--interações com publicação-->
  <div class="row m-0 mx-md-5 mb-3" *ngIf="atividade.tipo == 'comentario' ">
    <div class="col-12">
      <div class="row bg-atividades shadow-sm">

        <div class="row">
          <div class="col-2 my-2 d-flex justify-content-center">

            <div>
              <img class="rounded-circle" src="{{usuario.foto}}" width="60px" height="60px" alt="Foto do usuário">
            </div>

          </div>

          <div class="col-10">
            <h5 class="nome-autor-comentario text-capitalize">{{usuario.nome}}</h5>
            <div class="d-flex justify-content-start">
              <small id="texto" class="form-text m-0 text-muted text-monospace">
                {{atividade.data | date:'dd/MM/yyyy'}} às {{atividade.data | date:'HH:mm'}}
              </small>
            </div>

            <p class="text-dark m-0 p-0">Comentou: </p>
            <div class="comentario">
              <p class="text-break p-3">
                {{atividade.texto}} . . .
              </p>
            </div>
          </div>
        </div>


        <div class="row">

          <div class="col-2">
            <!--aqui deixa vazio mesmo-->
          </div>

          <div class="col-10">
            <P class="small">Na publicação de : {{atividade.nomeAutorPostagem}}</P>
            <a class="acessar"(click)="abrirPublicacao(atividade.idPostagem)">
              <div class="publicacao">
                <p class="text-break p-3">
                  {{atividade.textoPost}}. . .
                </p>
              </div>
            </a>

          </div>
        </div>

      </div>

    </div>
  </div>

</section>
