<div class="row m-0 mx-md-5">
  <div class="col-12">
    <div class="row  bg-atividades shadow-sm">

      <div class="col-3">
        <img class="d-flex rounded-circle" src="https://source.unsplash.com/random" width="60px" height="60px"
          alt="Foto do usuário">
      </div>

      <div class="col-9">
        <h5 class="nome-autor-comentario text-capitalize">nome da pessoa</h5>
        <p class="text-dark m-0 p-0">Comentou na publicação de : <span class="text-capitalize">nome autor <a
              class="postagem" [routerLink]="['/postagens']"> postagem</a></span>
        </p>
      </div>

    </div>
  </div>
</div>
