.bg-atividades {
  background-color: #fcfcfc;
  border-radius: 15px;
  padding: 5px;
  align-items: center;
  text-align: start;
  align-self: center;
}

.nome-autor-comentario {
  font-weight: 600;
  margin-bottom: 1px;
}
.postagem{
  text-decoration: none;
  cursor: pointer;
  color: #333;
}
