<div class="row  d-flex">

  <div class="col-12">

    <div class="container um">

      <h2  class="cor">Pessoas Mais Engajadas</h2>

      <div  class="row color rounded-pill  position-relative shadow-lg p-3 mb-5 bg-body  rounded" style="width: 30rem; height: 6rem;">

        <div class="col-3 position-absolute top-50 start-0 translate-middle-y">
          <img  class="rounded-circle "  width="80px" height="80px" src="{{usuarioDestaque.foto}}"  alt="">

        </div>

        <div  class="col-9 d-inline">
          <h5>nome</h5>
          <h6>Postagens</h6>
          <p>Breve Resumo</p> 
        </div>

        
      

</div>
</div>
  </div>

  <div class="col-12">

    <div class="container ">

      

      <div class="row color rounded-pill  position-relative shadow-lg p-3 mb-5 bg-body  rounded" style="width: 30rem; height: 6rem;">

        <div class="col-3 position-absolute top-50 start-0 translate-middle-y">
          <img class="rounded-circle "  width="80px" height="80px" src="{{usuarioDestaque.foto}}" alt="">

        </div>

        <div class="col-9 d-inline">
          <h5 >{{usuarioDestaque.nome}}</h5>
          <h6>{{usuarioDestaque.qtdPostagens}}</h6>
          <p>Breve Resumo</p> 
        </div>

        
        
        

</div>
    </div>
  </div>

  <div class="col-12">

    <div class="container ">
  
      
  
      <div class="row color rounded-pill  position-relative shadow-lg p-3 mb-5 bg-body  rounded" style="width: 30rem; height: 6rem;">
  
        <div class="col-3 position-absolute top-50 start-0 translate-middle-y">
          <img class="rounded-circle "  width="80px" height="80px" src="{{usuarioDestaque.foto}}" alt="">
  
        </div>
  
        <div class="col-9 d-inline">
          <h5></h5>
          <h6>Postagens</h6>
          <p>Breve Resumo</p> 
        </div>

</div>

