<div class="sticky-top d-none d-lg-block z-index">

  <h5 class="h5 cor ms-5 my-3">Pessoas Mais Engajadas</h5>

  <div class="row">

    <div class="col-12 m-0">

      <div class="row flex-flow rounded-pill bg-branco position-relative shadow-sm mb-3"
        style="width: 20rem; height: 5rem;">

        <div class="col-3 position-absolute top-50 start-0 translate-middle-y">
          <img class="rounded-circle" width="65px" height="65px" src="https://source.unsplash.com/random" alt="">
        </div>

        <div class="col-9">
          <h5> Nome De usuario</h5>
          <h6>Tipo De usuario</h6>
          <p>Breve Resumo</p>
        </div>

      </div>

    </div>
  </div>

</div>
