.um{
  margin-top: 15vh;/*alterar tamanho, conforme height da navbar*/
}

.bg-branco{
  background: #fcfcfc;
}

.flex-flow{
  flex-flow: row-reverse;
}

.cor{
  color: cadetblue;
}
.z-index{
  z-index: 2;
}
