.um{
  margin-top: 15vh;/*alterar tamanho, conforme height da navbar*/
}


a{
  cursor: pointer;
}
.flex-flow{
  flex-flow: row-reverse;
}


.z-index{
  z-index: 2;
}
.link-usuario{
  text-decoration: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.large{
  align-self: center;
  font-size: 3.5rem;
}
