<div class="container-fluid" id="bg">
        <div class="row">
            <div class="col-md-6">
    
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <h1 class="text-center p-3">Estudar faz bem para o mundo!</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque iusto repellat ad architecto voluptates delectus dolores quasi alias. Maiores ratione temporibus obcaecati eius repellat quidem suscipit doloribus error asperiores, cupiditate expedita similique rerum dolorem quos quas ipsam, earum quo, minima dolorum. Dolores consequatur numquam magni tempore quaerat? Ullam error, maiores cumque iusto sapiente quos iste optio blanditiis repellendus odit rerum natus facere, explicabo veritatis nisi similique. Voluptas veritatis similique nesciunt architecto illum hic minus consectetur consequuntur vero. Maxime necessitatibus ex officia temporibus repellendus cum labore, ea dicta dolores, cumque beatae perspiciatis nostrum eaque aspernatur quae asperiores illum voluptatum debitis laborum?</p>
                    </div>
                </div>
                
            </div>

            <div class="col-md-6 p-5" id="img">
                <img src="../../assets/ods5.jpg" class="img" alt="">
            </div>

        </div>
           
</div>


