/* You can add global styles to this file, and also import other style files */
body,html{
  padding: 0!important;
  scroll-behavior: smooth;
  font-family: 'Baloo 2', cursive;
}
p{
  font-family: 'Baloo 2', cursive;
}
h1,h2,h3,h4,h5{
  font-family: 'Baloo 2', cursive;
}
a{
    font-family: 'Baloo 2', cursive;
}
::-webkit-scrollbar {
  width:8px;
  height: 10px;
  }

  /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
  ::-webkit-scrollbar-track {
  background:rgba(51, 51, 51, 0);
  }

  /* aqui é a alça da barra, que demonstra a altura que você está na página
  estou colocando uma cor azul clara nela e adicionando uma borda arredondada*/
  ::-webkit-scrollbar-thumb {
  background: #2e9dd8;
  border-radius: 15px;
  }

.bg-invisible{
  background: rgba(35, 156, 171, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.01);
  box-shadow: 0px 5px 4px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 20px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
}

.modal-header, .modal-body, .modal-footer{
  background: rgba(255, 255, 255, 0.25);
  border: none;
  border-top: none;
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
}
.text-white-s{
  font-size: 1.1em;
  color: rgb(49, 49, 49);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.150);
}

.marcador{
  border: 1px solid red!important;
}

/* CSS NAVBAR */
.nav-bar-coresClaras{
  background: #f2f2f2;
  color: #353535;
}
.nav-bar-coresEscuras{
  background: #090E12!important;
  color: #f1f1f1;
}
.nav-bar-coresEscuras #dropdown{
  color: rgb(179, 179, 179);
}
.nav-bar-dropdown-coresEscuras{
  color: #f1f1f1!important;
}
.nav-bar-dropdown-coresEscuras:hover{
  background: #2ca0ff!important;
}

/* CSS FEED */
.feed-background-coresEscuras{
  background: #111B22;
  color: white;
}
.feed-background-coresClaras{
  background: #f1f1f1;
}

/* CSS MINI-PERFIL */
.mini-perfil-foto-coresEscuras{
  border: 4px solid #1F1F1F ;
}
.mini-perfil-foto-coresClaras{
  border: 4px solid #fcfcfc;
}

.mini-perfil-card-coresEscuras{
  background: #1F1F1F;
  color: white;
}
.mini-perfil-card-coresClaras{
  background: rgb(255, 255, 255);
  color: black;
}
.mini-perfil-card-nome-lightMode{
  color: black;
}
.mini-perfil-card-nome-darkMode{
  color: white!important;
}

/* CSS FAZER-POSTAGEM-COMPONENTE */
.fazer-postagem-textArea-coresClaras{
    min-height: 210px;
    padding: 5px;
    border-radius: 10px 0px 0px 0px;
    border: none;
    width: 100%;
    resize: none;
    background: #212121;
    color: white !important
}
.fazer-postagem-textArea-coresEscuras{
  min-height: 210px;
  padding: 5px;
  border-radius: 10px 0px 0px 0px;
  border: none;
  width: 100%;
  resize: none;
  background: white;
}
.fazer-postagem-input-lightMode{
  background-color: #f8f8f8!important;
}
.fazer-postagem-input-darkMode{
  background-color: #212121!important;
  color: white!important;
}
.fazer-postagem-formSelect-lightMode{
  background-color: #eef6fc;
  color: #333;
}
.fazer-postagem-formSelect-darkMode{
  border: none;
  background: #212121!important;
  color: white!important;
}

/* CSS POSTAGENS */

.postagem-postagem-darkMode{
  background-color: #1f1f1f!important;
  color: white;
}
.postagem-postagem-lightMode{
  background: #fcfcfc;
}
.postagem-bg-texto-postagem-lightMode{
  background: #fafafa;
}
.postagem-bg-texto-postagem-darkMode{
  background: #222222;
}
.postagem-input-comentario-lightMode{
  background: white;
  color: #353535;
}
.postagem-input-comentario-darkMode{
  background: #353535;
  color: white;
}
.postagem-bg-comentario-lightMode{
  background: #f8f8f8;
  color: #353535;
}
.postagem-bg-comentario-darkMode{
  background: #353535;
  color: white;
}

.postagem-modal-curtidas-darkMode{
  background-color: #1F1F1F;
  color: white!important;
}
.postagem-modal-curtidas-lightMode{
  background-color: #f2f2f2;
  color: #333!important;
}


.postagem-nomeUsuario-darkMode{
  color: rgb(255, 255, 255);
}
.postagem-nomeUsuario-lightMode{
  color: #353535;
}

/* CSS ENGAJAMENTO */
.engajamento-bg-pill-darkMode{
  background: #1F1F1F;
  color: white;
}
.engajamento-bg-pill-lightMode{
  background: white;
  color: #353535;
}

.engajamento-imgUsuario-lightMode{
  /*background: rgb(47, 103, 255);*/
}
.engajamento-imgUsuario-darkMode{
  /*background: turquoise;*/
}


.engajamento-publicacao-comentarios-lightMode{
  color: #4f9999;
  /*background: rgb(200, 59, 255);*/
  border-radius: 50%;
}
.engajamento-publicacao-comentarios-darkMode{
  color: #35d9df;
  /*background: rgb(255 243 134);*/
  border-radius: 50%;
}

.engajamento-publicacao-curtidas-lightMode{
  color: #4f9999;
  /*background: rgb(255, 241, 51);*/
  border-radius: 50%;
}
.engajamento-publicacao-curtidas-darkMode{
  color: #00bbc2;
  /*background: rgb(225 101 101);*/
  border-radius: 50%;
}
.engajamento-linkUsuario-lightMode{
  color: #333;
}
.engajamento-linkUsuario-darkMode{
  color: white
}

/* CSS PERFIL USUARIO */
.perfil-usuario-bg-darkMode{
  background: rgb(17 27 34);
}
.perfil-usuario-bg-lightMode{
  background: #f2f2f2;
}
.perfil-usuario-card-darkMode{
  background: #1f1f1f!important;
  color: white;
}
.perfil-usuario-card-lightMode{
  background: white;
  color: #1f1f1f;
}
/* CSS Atividade PERFIL USUARIO */

.atividadeAluno-bg-lightMode{
  background-color: white;
  color: #333;
}
.atividadeAluno-bg-darkMode{
  background-color: #212121!important;
  color: white!important;
}
.atividadeAluno-info-darkMode{
  color: white!important;
}
.atividadeAluno-acessar-darkMode{
  color: #686b8b!important;
}
.atividadeAluno-acessar-lightMode{
  color: #444570!important;
}
.atividadeAluno-comentario-darkMode{
  background-color: #262626;
  border: none;
  border-radius: 0 15px 15px 15px!important;
}
