<nav aria-label="..." class="d-flex justify-content-center mt-5">
  <ul class="pagination">
    <li class="page-item" [ngClass]="(paginaPostagem.first) ? 'disabled' : ''">
      <a class="page-link" tabindex="-1" aria-disabled="true" (click)='buscarPaginaPostagem(paginaPostagem.number - 1, 5)'>Anterior</a>
    </li>
    <li class="page-item active" aria-current="page">
      <span class="page-link">{{paginaPostagem.number + 1}}</span>
    </li>
    <li class="page-item" [ngClass]="(paginaPostagem.last) ? 'disabled' : ''">
      <a class="page-link" (click)='buscarPaginaPostagem(paginaPostagem.number + 1, 5)'>Próxima</a>
    </li>
  </ul>
</nav>

<!-- Div da postagem inteira -->
<div class="postagem" *ngFor='let postagem of paginaPostagem.content'>
  <!-- Dados da postagem Nome do Usuário/Data e botões de apagar e editar 
  ''-->
  <div class="flex">
    <img *ngIf="postagem.usuario.foto != null" class="foto-usuario" src={{postagem.usuario.foto}} alt="Foto do usuário">
    <img *ngIf="postagem.usuario.foto == null" class="foto-usuario" src="https://thumbs.dreamstime.com/b/%C3%ADcone-do-usu%C3%A1rio-do-vetor-7337510.jpg" alt="Foto do usuário">
    <div class="postagem-info">
      <h4 class="autor-postagem">{{postagem.usuario.nome}}</h4>
      <h6 class="data-postagem">{{postagem.data}}</h6>
    </div>

    <!-- Botões de editar e apagar -->
    <div *ngIf='postagem.usuario.id == idUsuarioLogado' class="btns-edit-delete btns-edit-delete-responsivo">

      <a (click)="definirIdPostagem(postagem.id)" data-bs-toggle="modal" data-bs-target="#editarModal">
        <i class="fas fa-edit btn-reponsivo"></i>
      </a>
      <a (click)="definirIdPostagem(postagem.id)" href="" data-bs-toggle="modal" data-bs-target="#cancelarModal">
        <i class="fas fa-trash-alt btn-reponsivo"></i>
      </a>
    </div>
  </div>

  <!-- Corpo do texto da postagem -->

  <div class="bg-texto-postagem">
    <p class="texto-postagem-comentario">{{postagem.texto}}</p>
    <div *ngIf="postagem.midia != '' && postagem.tipoMidia == 'video'">
      <iframe class="midia-postagem" [src]="postagem.midia" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div *ngIf="postagem.midia != '' && postagem.tipoMidia == 'imagem'" class="midia-postagem">
      <img src="{{postagem.midia}}">
    </div>
  </div>



  <!-- botões de números de curtidas e números de comentários -->
<div class="row">
  <div class="col-md-12">
  <div class="engajamento">
    <!--  <a class="comentar" (click)='comentar()'>
      <i class="far fa-comment-dots"></i> Comentar
    </a>
    <a class="ver-comentarios" (click)='verComentarios()'>
      5 comentários
    </a>-->
    <!--Comentarios -->
    <div class="accordion" [attr.id]="'coment' + postagem.id">

      <div class="mt-2" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed " type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + 'comentButton' + postagem.id" aria-expanded="false" aria-controls="collapseTwo">
            <p class="text-primary font-weight-bold p-fixed">
              Comentar
            </p>
          </button>
        </h5>
      </div>

      <div [attr.id]="'comentButton' + postagem.id" class="collapse" aria-labelledby="headingTwo" [attr.data-parent]="'#' + 'coment' + postagem.id">

        <div class="row mb-3 ">
          <div class="col d-flex justify-content-center p-4">
            <input type="text" class="form-control w-100" id="titulo" aria-describedby="emailHelp" placeholder="Digite aqui seu comentário" [(ngModel)]='comentario.texto'>
          </div>
        </div>

        <div class="row mt-3 mb-5">
          <div class="col d-flex justify-content-center">
            <button class="btn btn-outline-primary " (click)='comentar(postagem.id)'>Comentar</button>
          </div>
        </div>
        <div class="row d-flex justify-content-center" *ngFor='let coment of postagem.comentarios'>
          <div class="col-md-11">
            <div class="card mb-3 shadow border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col d-flex justify-content-start">
                    <p> <img class=rounded-circle src={{coment.usuario.foto}} width="30px" height="30px" /> {{coment.usuario.nome}} comentou: </p>
                  </div>
                  <div class="col">
                    <i class="fas fa-trash-alt btn-reponsivo"></i>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="card-text ml-4" aria-describedby="texto">{{coment.texto}} </p>
                  </div>
                </div>

                <hr>

                <div class="d-flex justify-content-end">
                  <small id="texto" class="form-text m-0 text-muted text-monospace">
                    Comentado em {{ coment.data | date:'dd/MM/yyyy'}} às {{coment.data | date:'HH:mm'}}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Comentarios-->
  </div>
</div>
</div>

  <!-- componente dos comentários  -->
  <app-comentario [ngStyle]="{'display': displayComentarios}"></app-comentario>
</div>


<!-- Modal Curtidas -->
<div class="modal fade" id="curtidasModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="align-self: center;">Curtidas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="flex-sem-padding">
          <li class="flex flex-sem-padding">
            <img class="foto-autor-curtida" src="https://blog.unyleya.edu.br/wp-content/uploads/2017/12/saiba-como-a-educacao-ajuda-voce-a-ser-uma-pessoa-melhor.jpeg" alt="Foto autor do comentário">
            <p class="nome-autor-curtida">Nome do usuário</p>
          </li>
          <li class="flex flex-sem-padding">
            <img class="foto-autor-curtida" src="https://blog.unyleya.edu.br/wp-content/uploads/2017/12/saiba-como-a-educacao-ajuda-voce-a-ser-uma-pessoa-melhor.jpeg" alt="Foto autor do comentário">
            <p class="nome-autor-curtida">Nome do usuário</p>
          </li>
          <li class="flex flex-sem-padding">
            <img class="foto-autor-curtida" src="https://blog.unyleya.edu.br/wp-content/uploads/2017/12/saiba-como-a-educacao-ajuda-voce-a-ser-uma-pessoa-melhor.jpeg" alt="Foto autor do comentário">
            <p class="nome-autor-curtida">Nome do usuário</p>
          </li>
          <li class="flex flex-sem-padding">
            <img class="foto-autor-curtida" src="https://blog.unyleya.edu.br/wp-content/uploads/2017/12/saiba-como-a-educacao-ajuda-voce-a-ser-uma-pessoa-melhor.jpeg" alt="Foto autor do comentário">
            <p class="nome-autor-curtida">Nome do usuário</p>
          </li>
          <li class="flex flex-sem-padding">
            <img class="foto-autor-curtida" src="https://blog.unyleya.edu.br/wp-content/uploads/2017/12/saiba-como-a-educacao-ajuda-voce-a-ser-uma-pessoa-melhor.jpeg" alt="Foto autor do comentário">
            <p class="nome-autor-curtida">Nome do usuário</p>
          </li>
          <li class="flex flex-sem-padding">
            <img class="foto-autor-curtida" src="https://blog.unyleya.edu.br/wp-content/uploads/2017/12/saiba-como-a-educacao-ajuda-voce-a-ser-uma-pessoa-melhor.jpeg" alt="Foto autor do comentário">
            <p class="nome-autor-curtida">Nome do usuário</p>
          </li>
          <li class="flex flex-sem-padding">
            <img class="foto-autor-curtida" src="https://blog.unyleya.edu.br/wp-content/uploads/2017/12/saiba-como-a-educacao-ajuda-voce-a-ser-uma-pessoa-melhor.jpeg" alt="Foto autor do comentário">
            <p class="nome-autor-curtida">Nome do usuário</p>
          </li>
          <li class="flex flex-sem-padding">
            <img class="foto-autor-curtida" src="https://blog.unyleya.edu.br/wp-content/uploads/2017/12/saiba-como-a-educacao-ajuda-voce-a-ser-uma-pessoa-melhor.jpeg" alt="Foto autor do comentário">
            <p class="nome-autor-curtida">Nome do usuário</p>
          </li>
          <li class="flex flex-sem-padding">
            <img class="foto-autor-curtida" src="https://blog.unyleya.edu.br/wp-content/uploads/2017/12/saiba-como-a-educacao-ajuda-voce-a-ser-uma-pessoa-melhor.jpeg" alt="Foto autor do comentário">
            <p class="nome-autor-curtida">Nome do usuário</p>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal cancelar Postagem -->

<div class="modal fade" id="cancelarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apagar postagem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você tem certeza que deseja apagar essa postagem?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="excluirPostagem()">Apagar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Editar Postagem -->

<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Postagem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group mb-3">
          <label for="message-text" class="col-form-label">Texto:</label>
          <textarea class="form-control" id="message-text" required [(ngModel)]='postagem.texto' name="message-text"></textarea>
        </div>
        <div class="form-group mb-3">
          <label for="recipient-name" class="col-form-label">Midia:</label>
          <input type="text" class="form-control" id="recipient-name" name="midia" [(ngModel)]='postagem.midia'>
        </div>
        <div class="form-group mb-3">
          <label for="select-opcao">Tipo de mídia:</label>
          <select [(ngModel)]='postagem.tipoMidia' class="form-select" aria-label=".form-select-lg example" name='select-opcao' id='select-opcao' (change)='definirTipoMidiaPostagem($event)'>
            <option selected>Selecione uma opção</option>
            <option value="video">Vídeo</option>
            <option value="imagem">Imagem</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)='atualizarPostagem()'>Atualizar</button>
      </div>
    </div>
  </div>
</div>