<section id="displayTituloPesquisa" [ngStyle]="{'display': displayDivTituloPesquisa}" class="container mt-5 mb-2">
  <h1 class="text-center">Resultado da Pesquisa</h1>
</section>

<div class="d-flex justify-content-center mt-5">
  <div [ngStyle]="{'display': displaySpinner}" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<nav aria-label="..." class="d-flex justify-content-center mt-5">
  <ul [ngStyle]="{'display': displayNavPag}" class="pagination">
    <li class="page-item" [ngClass]="(paginaPostagem.first) ? 'disabled' : ''">
      <a *ngIf="idUsuarioPerfil != 0" class="page-link"
        (click)='buscarPaginaPostagemProfessor(idUsuarioPerfil, paginaPostagem.number - 1, 5)'>Anterior</a>
      <a *ngIf="textoPesquisaPostagem == '' && idUsuarioPerfil == 0 " class="page-link"
        (click)='buscarPaginaPostagem(paginaPostagem.number - 1, 5)'>Anterior</a>
      <a *ngIf="textoPesquisaPostagem != ''" class="page-link"
        (click)='pesquisar(paginaPostagem.number - 1)'>Anterior</a>
    </li>
    <li class="page-item active" aria-current="page">
      <span class="page-link">{{paginaPostagem.number + 1}}</span>
    </li>
    <li class="page-item" [ngClass]="(paginaPostagem.last) ? 'disabled' : ''">
      <a *ngIf="idUsuarioPerfil != 0" class="page-link"
        (click)='buscarPaginaPostagemProfessor(idUsuarioPerfil, paginaPostagem.number + 1, 5)'>Próxima</a>
      <a *ngIf="textoPesquisaPostagem == '' && idUsuarioPerfil == 0 " class="page-link"
        (click)='buscarPaginaPostagem(paginaPostagem.number + 1, 5)'>Próxima</a>
      <a *ngIf="textoPesquisaPostagem != ''" class="page-link"
        (click)='pesquisar(paginaPostagem.number + 1)'>Próxima</a>
    </li>
  </ul>
</nav>

<!-- Div da postagem inteira -->


<!-- <section id="displayPostagemComentario" [ngStyle]="{'display': displayDivPostagemComentario}" class="container mt-5 mb-2">
  <h1 class="text-center">Resultado da Pesquisa</h1>
</section> -->



<!-- Caso não tenha postagens exibir mensagem para o usuário-->
<div *ngIf='paginaPostagem.content?.length == 0'>
  <h4 class="text-center m-5">Nenhuma postagem encontrada!</h4>
</div>

<div class="postagem shadow-sm" [ngClass]="(darkMode)? 'postagem-postagem-darkMode':'postagem-postagem-lightMode'"
  id={{postagem.id}} *ngFor='let postagem of paginaPostagem.content'>
  <!-- Dados da postagem Nome do Usuário/Data e botões de apagar e editar
  ''-->
  <div class="flex">

    <img (click)='abrirUsuario(postagem.usuario.id)' [routerLink]="['/perfil', postagem.usuario.id]"
      *ngIf="postagem.usuario.foto != null && postagem.usuario.foto != ''" class="foto-usuario clicavel"
      src={{postagem.usuario.foto}} alt="Foto do usuário">

    <img *ngIf="postagem.usuario.foto == null || postagem.usuario.foto == ''" class="foto-usuario"
      src="../../assets/imagem/Sem-foto-perfil.png" alt="Foto do usuário">

    <div class="postagem-info">
      <h4 (click)='abrirUsuario(postagem.usuario.id)' [routerLink]="['/perfil', postagem.usuario.id]"
        class="autor-postagem clicavel">{{postagem.usuario.nome}}</h4>
      <h6 class="data-postagem">{{postagem.data}}</h6>
    </div>

    <!-- Botões de editar e apagar -->
    <div *ngIf='postagem.usuario.id == idUsuarioLogado' class="btns-edit-delete btns-edit-delete-responsivo">

      <a (click)="definirIdPostagem(postagem.id)" data-bs-toggle="modal" data-bs-target="#editarModal">
        <i class="fas fa-edit btn-reponsivo"></i>
      </a>
      <a (click)="definirIdPostagem(postagem.id)" href="" data-bs-toggle="modal" data-bs-target="#cancelarModal">
        <i class="fas fa-trash-alt btn-reponsivo"></i>
      </a>
    </div>
  </div>

  <!-- Corpo do texto da postagem -->

  <div class="bg-texto-postagem border-bottom"
    [ngClass]="(darkMode)? 'postagem-bg-texto-postagem-darkMode': 'postagem-bg-texto-postagem-lightMode'">
    <p class="texto-postagem-comentario text-break">{{postagem.texto}}</p>
    <div *ngIf="postagem.midia != '' && postagem.tipoMidia == 'video'">
      <iframe class="midia-postagem" [src]="postagem.midia" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div *ngIf="postagem.midia != '' && postagem.tipoMidia == 'imagem'" class="midia-postagem">
      <img src="{{postagem.midia}}">
    </div>
  </div>



  <!-- botões de números de curtidas e números de comentários -->
  <div class="row">
    <div class="col-md-12">
      <div class="engajamento">
        <!--  <a class="comentar" (click)='comentar()'>
      <i class="far fa-comment-dots"></i> Comentar
    </a>
    <a class="ver-comentarios" (click)='verComentarios()'>
      5 comentários
    </a>-->
        <!--Comentarios -->

          <!--Ver Comentarios-->
          <div class="d-inline me-2 mb-0 m-0">

            <h6 class="align-center d-inline">
              <a class="ver-curtidas collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#' + 'comentButton' + postagem.id" aria-expanded="false"
                aria-controls="collapseTwo">
                <a>
                  <p *ngIf="postagem.comentarios.length == 0">Comentários</p>
                  <p *ngIf="postagem.comentarios.length == 1">{{postagem.comentarios.length}} Comentário</p>
                  <p *ngIf="postagem.comentarios.length > 1">{{postagem.comentarios.length}} Comentários</p>
                </a>
              </a>
            </h6>

          </div>

          <!--Ver curtidas-->
          <div class="d-inline ms-2 mb-0 m-0">

            <h6 class="align-center d-inline">
              <a *ngIf="postagem.curtidas.length == 1" class="ver-curtidas" href="" data-bs-toggle="modal"
                data-bs-target="#curtidasModal" (click)=" getCurtidasPostagem(postagem.id)">
                {{postagem.curtidas.length}} Curtida</a>
            </h6>
            <h6 class="align-center d-inline">
              <a *ngIf="postagem.curtidas.length > 1" class="ver-curtidas" href="" data-bs-toggle="modal"
                data-bs-target="#curtidasModal" (click)=" getCurtidasPostagem(postagem.id)">
                {{postagem.curtidas.length}} Curtidas</a>
            </h6>

          </div>

        <div class="accordion m-0" [attr.id]="'coment' + postagem.id">

          <!--Botões de Postagem-->
          <div class="row">
            <hr>
            <div class="col-6 m-0">
              <!--Comentar-->
              <div id="headingTwo m-0 p-0">
                <h5 class="m-0 text-center">
                  <a class="btn-comentar collapsed m-0 p-0" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#' + 'comentButton' + postagem.id" aria-expanded="false"
                    aria-controls="collapseTwo">
                    <p>
                      <i  class="far fa-comment-dots">
                        <p> Comentar</p>
                      </i>
                    </p>
                  </a>
                </h5>
              </div>
            </div>

            <div class="col-6 m-0">
              <!--curtir-->
              <div id="headingTwo m-0 p-0">
                <h5 class="m-0 text-center">
                  <a class="btn-comentar collapsed m-0 p-0" type="button">
                    <p class="m-0 p-0">
                      <i *ngIf='postagem.isCurtida' class="fas fa-thumbs-up"
                        (click)='curtirOuDescurtir(postagem.isCurtida, postagem.id)'>
                        <p>Descurtir</p>
                      </i>
                      <i *ngIf='postagem.isCurtida == false || postagem.isCurtida == undefined' class="far fa-thumbs-up"
                        (click)='curtirOuDescurtir(postagem.isCurtida, postagem.id)'>
                        <p>Curtir</p>
                      </i>
                    </p>

                  </a>
                </h5>
              </div>
            </div>
          </div>

          <!--Corpo de comentarios-->
          <div [attr.id]="'comentButton' + postagem.id" class="collapse" aria-labelledby="headingTwo"
            [attr.data-parent]="'#' + 'coment' + postagem.id">

            <!--Comentario publicado-->
            <div class="justify-content-center border-top mb-2">
              <div class="flex flex-sem-padding" *ngFor='let coment of postagem.comentarios'>
                <!-- Foto do usuário autor do comentário -->

                <img *ngIf="coment.usuario.foto != null && coment.usuario.foto != ''"
                  (click)='abrirUsuario(coment.usuario.id)' [routerLink]="['/perfil', coment.usuario.id]"
                  class="foto-autor-comentario clicavel" src={{coment.usuario.foto}} width="30px" height="30px"
                  alt="foto">

                <img *ngIf="coment.usuario.foto == null || coment.usuario.foto == ''"
                  (click)='abrirUsuario(coment.usuario.id)' [routerLink]="['/perfil', coment.usuario.id]"
                  class="foto-autor-comentario clicavel" src="../../assets/imagem/Sem-foto-perfil.png" width="30px"
                  height="30px" alt="foto">

                <!-- Corpo do comentário -->
                <table class="w-100">
                  <tbody>
                    <tr class="bg-comentario flex-column border-bottom shadow-sm"
                      [ngClass]="(darkMode)? 'postagem-bg-comentario-darkMode': 'postagem-bg-comentario-lightMode'">

                      <td class="align-start height-td">
                        <!-- Usuario -->
                        <div class="row">

                          <div class="col-6">
                            <a (click)='abrirUsuario(coment.usuario.id)' [routerLink]="['/perfil', coment.usuario.id]">
                              <p [ngClass]="(darkMode)? 'nome-autor-comentario-darkMode' : 'nome-autor-comentario-lightMode'"
                                class="text-capitalize">{{coment.usuario.nome}}</p>
                            </a>
                          </div>

                          <!-- Botões de apagar e editar comentário -->
                          <div class="col-6 align-end h-100" style="justify-content: flex-end;display: flex;">
                            <div *ngIf='coment.usuario.id == idUsuarioLogado'>
                              <div>
                                <a (click)="definirIdComentario(coment.id)" data-bs-toggle="modal"
                                  data-bs-target="#editarComentarioModal">
                                  <i class="fas fa-edit btn-reponsivo"></i>
                                </a>
                              </div>
                            </div>

                            <div *ngIf='coment.usuario.id == idUsuarioLogado || postagem.usuario.id == idUsuarioLogado'>
                              <div>
                                <a (click)="definirIdComentario(coment.id)" data-bs-toggle="modal"
                                  data-bs-target="#deletarComentarioModal">
                                  <i class="fas fa-trash-alt btn-reponsivo"></i>
                                </a>
                              </div>
                            </div>
                          </div>

                        </div>

                      </td>
                      <!-- Texto do comentário -->
                      <td>
                        <div class=" m-0 p-0">
                          <p class="texto-postagem-comentario text-break" aria-describedby="texto">{{coment.texto}}</p>
                        </div>
                      </td>
                      <!-- Data -->
                      <td class="align-end">
                        <div class="d-flex justify-content-end">
                          <small id="texto" class="form-text m-0 text-muted text-monospace">
                            {{ coment.data | date:'dd/MM/yyyy'}} às {{coment.data | date:'HH:mm'}}
                          </small>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--Escrever comentario-->
            <div class="row">
              <div class="fazer-comentario d-flex justify-content-center">

                <img class="col-2 foto-autor-comentario bg-white" *ngIf="foto != null && foto !=''" src="{{foto}}"
                  alt="">

                <img class="col-2 foto-autor-comentario bg-white" *ngIf="foto == null || foto == ''"
                  src="../../assets/imagem/Sem-foto-perfil.png" alt="">
                <div class="col-10">

                  <input type="text"
                    [ngClass]="(darkMode)? 'postagem-input-comentario-darkMode' : 'postagem-input-comentario-lightMode'"
                    class="input-comentario w-75" id="titulo" aria-describedby="emailHelp"
                    placeholder="Digite aqui seu comentário..." [(ngModel)]='comentario.texto'>

                  <button class="btn-comentario w-25" (click)='comentar(postagem.id)'>Comentar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/Comentarios-->
<!--
            <div class="row marcador" *ngFor='let coment of postagem.comentarios'>
              <div class="col-md-12">
                <div class="card mb-3 shadow border-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-10 d-flex">
                        <p> <img class=rounded-circle src={{coment.usuario.foto}} width="30px" height="30px" />
                          {{coment.usuario.nome}} comentou: </p>
                      </div>


                      <div class="col" *ngIf='coment.usuario.id == idUsuarioLogado'>
                        <div class="text-end btn-edit-delete btns-edit-delete-responsivo">
                          <a (click)="definirIdComentario(coment.id)" data-bs-toggle="modal"
                            data-bs-target="#editarComentarioModal">
                            <i class="fas fa-edit btn-reponsivo"></i>
                          </a>
                        </div>
                      </div>

                      <div class="col"
                        *ngIf='coment.usuario.id == idUsuarioLogado || postagem.usuario.id == idUsuarioLogado'>
                        <div class="text-end btn-edit-delete btns-edit-delete-responsivo">
                          <a (click)="definirIdComentario(coment.id)" data-bs-toggle="modal"
                            data-bs-target="#deletarComentarioModal">
                            <i class="fas fa-trash-alt btn-reponsivo"></i>
                          </a>
                        </div>
                      </div>


                    </div>

                    <div class="row">
                      <div class="col">
                        <p class="card-text ml-4" aria-describedby="texto">{{coment.texto}} </p>
                      </div>
                    </div>

                    <hr>

                    <div class="d-flex justify-content-end">
                      <small id="texto" class="form-text m-0 text-muted text-monospace">
                        Comentado em {{ coment.data | date:'dd/MM/yyyy'}} às {{coment.data | date:'HH:mm'}}
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

           fim comentarios -->



<!-- Modal Curtidas -->
<div class="modal fade" id="curtidasModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title text-capitalize text-white" id="exampleModalLabel" style="align-self: center;">Curtida
          por:</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="flex-sem-padding">
          <li class="flex flex-sem-padding rounded-3 border-bottom mb-1 shadow-sm" *ngFor='let curtida of curtidas'
            [ngClass]="(darkMode)? 'postagem-modal-curtidas-darkMode' : 'postagem-modal-curtidas-lightMode'">
            <a href="" data-bs-dismiss="modal" (click)='abrirUsuario(curtida.id.usuario.id)'
              [routerLink]="['/perfil', curtida.id.usuario.id]">
              <img class="foto-autor-curtida" src="{{curtida.id.usuario.foto}}" alt="Foto autor do comentário">
            </a>
            <div class="mt-0 mb-0">
              <p class="nome-autor-curtida text-capitalize">
                <a [ngClass]="(darkMode)?'text-white' : 'text-dark'" data-bs-dismiss="modal"
                  (click)='abrirUsuario(curtida.id.usuario.id)'
                  [routerLink]="['/perfil', curtida.id.usuario.id]">{{curtida.id.usuario.nome}}</a>

              </p>
              <p class="nome-autor-curtida text-uppercase small">{{curtida.id.usuario.tipo}}</p>
            </div>
            <hr>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- modal editar comentário-->
<!-- <div class="modal fade" id="editarComentarioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Comentário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group mb-3">
          <label for="message-text" class="col-form-label">Texto:</label>
          <textarea class="form-control" id="message-text" required [(ngModel)]='comentario.texto' name="message-text"></textarea>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)='atualizarComentario()'>Atualizar</button>
      </div>
    </div>
  </div>
</div> -->
<div class="modal fade" id="editarComentarioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"
      [ngClass]="(darkMode)? 'postagem-modal-comentarios-darkMode' : 'postagem-modal-comentarios-lightMode'">
      <div class="modal-header">
        <h5 class="modal-title text-capitalize text-white" id="exampleModalLabel">Editar Comentario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group mb-3">
          <label for="message-text" class="col-form-label text-capitalize text-white">Texto:</label>
          <textarea class="form-control" id="message-text" required [(ngModel)]='comentario.texto'
            name="message-text"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary rounded-pill" data-bs-dismiss="modal"
          (click)='atualizarComentario()'>Atualizar</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="deletarComentarioModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"
      [ngClass]="(darkMode)? 'postagem-modal-comentarios-darkMode' : 'postagem-modal-comentarios-lightMode'">
      <div class="modal-header">
        <h5 class="modal-title text-capitalize text-white" id="exampleModalLabel">Apagar comentario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-white">
        Você tem certeza que deseja apagar esse comentario?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger rounded-pill" data-bs-dismiss="modal"
          (click)="excluirComentario()">Apagar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal cancelar Postagem -->

<div class="modal fade" id="cancelarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"
      [ngClass]="(darkMode)? 'postagem-modal-comentarios-darkMode' : 'postagem-modal-comentarios-lightMode'">
      <div class="modal-header">
        <h5 class="modal-title text-capitalize text-white" id="exampleModalLabel">Apagar postagem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-white">
        Você tem certeza que deseja apagar essa postagem?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger rounded-pill" data-bs-dismiss="modal"
          (click)="excluirPostagem()">Apagar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Editar Postagem -->

<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"
      [ngClass]="(darkMode)? 'postagem-modal-comentarios-darkMode' : 'postagem-modal-comentarios-lightMode'">
      <div class="modal-header">
        <h5 class="modal-title text-white text-capitalize" id="exampleModalLabel">Editar Postagem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group mb-3">
          <label for="message-text" class="col-form-label text-white text-capitalize">Texto:</label>
          <textarea class="form-control" id="message-text" required [(ngModel)]='postagem.texto'
            name="message-text"></textarea>
        </div>
        <div class="form-group mb-3">
          <label for="recipient-name" class="col-form-label text-white text-capitalize">Midia:</label>
          <input type="text" class="form-control" id="recipient-name" name="midia" [(ngModel)]='postagem.midia'>
        </div>
        <div class="form-group mb-3 text-white">
          <label for="select-opcao">Tipo de mídia:</label>
          <select [(ngModel)]='postagem.tipoMidia' class="form-select" aria-label=".form-select-lg example"
            name='select-opcao' id='select-opcao' (change)='definirTipoMidiaPostagem($event)'>
            <option selected>Selecione uma opção</option>
            <option value="video">Vídeo</option>
            <option value="imagem">Imagem</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary rounded-pill" data-bs-dismiss="modal"
          (click)='atualizarPostagem()'>Atualizar</button>
      </div>
    </div>
  </div>
</div>

<div class="load" [ngStyle]="{'display': displayLoader}">

  <hr />
  <hr />
  <hr />
  <hr />
</div>
