/* classe que engloba toda a div de postagem */
.postagem {
  max-width: 650px;
  background-color: #fcfcfc;
  margin: 3rem auto;
  border-radius: 10px;
}
a{
  font-family: 'Baloo 2', cursive;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}
.clicavel{
  font-family: 'Baloo 2', cursive;
  cursor: pointer;
}
.btn:focus{
  border: none!important;
  outline: none;
  outline-style: none;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.ver-curtidas{
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(145, 145, 145);
}

/* Usada para nome do usuário e data da publicação da postagem */
.postagem-info {
  align-self: center;
  padding: .2em .5em;
}

/* Estilizar foto do autor da postagem */
.foto-usuario {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

/* Estilizar texto do nome do autor */
.autor-postagem {
  font-weight: 500;
  margin-bottom: 0;
}

/* Estilizar texto da data da postagem*/
.data-postagem {
  font-weight: 400;
  padding-left: 1px;
}

/* Posicionando os botões de editar e apagar*/
.btns-edit-delete {
  padding: 10px;
  text-align: right;
  flex: 1;
}
/* Estilizando os botões de editar e apagar*/
.fa-edit {
  margin-right: 15px;
  font-size: 0.9rem;
  color: #555;
}

.fa-trash-alt {
  font-size: 0.9rem;
  color: #555;
}

/* Hover dos botões de editar e apagar*/
.fa-edit:hover, .fa-trash-alt:hover {
  cursor: pointer;
}

.fa-edit:hover {
  color: #7c7c7c;
}

.fa-trash-alt:hover {
  color: #888;
}


/* Diminuindo o tamanho dos icones dos botões de apagar e deletar para caber nos comentários*/
.btns-edit-delete-menor {
  font-size: 1.2rem;
}

/* Usada para determinar que uma div é display flex para os itens ficaram lado a lado */
.flex {
  display: flex;
  padding: 1rem;
}

/* Tirando o padding de uma div com classe acima flex*/
.flex-sem-padding {
  padding-left: 0px;
  align-items: flex-start;
}
.flex-alinhado-direita{
  justify-content: end;
}

/* Estilizando o background do corpo do texto da postagem */
.bg-texto-postagem {
  
  width: 95%;
  margin: 0 auto;
  border-radius: 3%;
  padding: 1rem;
}

/* Estilizando o texto da postagem e do comentário  */
.texto-postagem-comentario {
  letter-spacing: .7px;
}

/* midia da postagem */
.midia-postagem, .midia-postagem img {
  width: 100%;
  height: 50vh;
  border-radius: 5px;
}
textarea{
  resize: none;
}

/* Configurando div dos botões de curtidas, ver comentários, curtir e comentar */
.engajamento, .interacao {
  width: 90%;
  justify-content: space-around;
  margin: 1rem auto;
}

.btns-edit-delete[_ngcontent-nci-c50] {
  padding: 10px;
  text-align: right;
  flex: 1;
}
@media (max-width: 400px){
.btns-edit-delete-responsivo[_ngcontent-erl-c50] {
    text-align: end;
}}
/* Configurações básicas do tamanho dos botões curtidas, ver comentários, curtir e comentar */
.curtidas {
  font-size: 1.6rem;
  text-decoration: none;
  flex: 1;
  text-align: center;
}

/* Tentativa de alinhar o botão de curtidas com o botão curtir que fica embaixo */
#icon-curtidas {
  margin-left: -2.4rem;
}

/* Texto que aparece do lado dos icones de curtidas e curtir*/
#qtd-curtidas, #curtir {
  font-size: 1.3rem;
  color: #000;
  margin: 5px;
  padding-bottom: 25px;
}

/* Hover para o texto que aparece do lado do icone de curtidas*/
#qtd-curtidas:hover {
 text-decoration: underline;
 cursor: pointer;
}

/* Tirando borda da parte de baixo dos icones de curtir e comentar */
.interacao {
  border-bottom: none;
}

/* Posicionando icones de curtir e comentar ao centro */
.item-interacao {
  flex: 1;
  text-align: center;
}

/* Escurecendo botões curtir e comentar ao passar com mouse em cima */
.item-interacao:hover {
  background-color: #7c7c7c;
  cursor: pointer;
}

/* Link do botão comentar  */
.comentar {
  font-size: 1.3rem;
  text-decoration: none;
  flex: 1;
  text-align: center;
  color: cadetblue;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.comentar:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(125, 155, 156, 0.400);
  border-radius: 30px;
}

/*botão de total de comentários */
.ver-comentarios {
  font-size: 1.3rem;
  align-self: center;
  text-decoration: none;
  flex: 1;
  text-align: center;
  color: cadetblue;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ver-comentarios:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(125, 155, 156, 0.400);
  border-radius: 30px;
}

/* Estilizando foto do autor de uma curtida */
.foto-autor-curtida {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

/* Estizando nome do autor de uma curtida*/
.nome-autor-curtida {
  font-weight: 500;
  margin-bottom: 1px;
}

/* Texto do nome do autor de uma curtida */
.nome-autor-curtida {
  align-self: center;
  padding-left: 10px;
}

/* Botões de paginação */
.page-item:hover {
  cursor: pointer;
}


/* Responsividade */

@media (max-width: 400px) {
.btns-edit-delete-responsivo {
  text-align: start;
}

  .btn-reponsivo {
    font-size: 1.3rem;
    padding: 0px;
    padding-left: 10px;
    padding-top: 8px;
    margin-right: 0px;
  }

  .autor-postagem {
    font-size: 18px;
  }

  .data-postagem {
    font-size: 14px;
  }
}

/***********Comentarios*************/
.btn-comentar{
  font-size: 1.2rem;
  font-weight: 500;
  color: cadetblue;
  padding: 0;
  margin: 0;
}
/* Posicionando os botões de editar e apagar*/
.btns-edit-delete {
  padding: 5px;
  text-align: right;
  flex: 1;
}

/* div do botão de apagar um comentário*/
.btns-edit-delete-comentario {
  padding: 0px;
}


/* Diminuindo o tamanho dos icones dos botões de apagar e deletar para caber nos comentários*/
.btns-edit-delete-menor {
  font-size: .9rem;
}

/* Usada para determinar que uma div é display flex para os itens ficaram lado a lado */
.flex {
  display: flex;
  padding: 1rem;
}

/* Tirando o padding de uma div com classe acima flex*/
.flex-sem-padding {
  padding-left: 0px;
  align-items: flex-start;
}


/* Estilizando o texto da postagem e do comentário  */
.texto-postagem-comentario {
  letter-spacing: .3px;
}

/* Div dos comentários  */
.comentarios {
  border-top: #000 solid 1px;
  width: 98%;
  margin: 0 auto;
}

/* Estilizando foto do autor de um comentário e de autor de uma curtida */
.foto-autor-comentario, .foto-autor-curtida {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: 0 3px;
}

/* Estilizando background do corpo de um comentário */
.bg-comentario {
  width: 95%;
  margin-left: 10px;
  border-radius: 1px 15px 15px 15px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

/* Estizando nome do autor de um comentário */
.nome-autor-comentario-darkMode {
  font-weight: 500;
  margin-bottom: 1px;
  color: #ffffff;
}
.nome-autor-comentario-lightMode {
  font-weight: 500;
  margin-bottom: 1px;
  color: #353535;
}
.data-postagem {
  font-weight: 400;
  padding-left: 1px;
}

/* Input de um novo comentário */
.input-comentario {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 30px 0 0 30px;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.100);
}

/* Div para um novo comentário */
.fazer-comentario {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

/* Botão de um novo comentário */
.btn-comentario {
  border-radius: 0px 10px 10px 0px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #9bea5e;
  color: #353535;
  font-weight: bold;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.100);
}

.btn-comentario:hover {
  background-color: #99f850;
}


.height-td {
  height: 1.5rem;
}

.load{
  padding: 5px;
  position:fixed;
  top:95%;
  left:95%;
  transform-origin: center center;
  transform:translate(-90%, -90%) rotate(135deg);
  /*change these sizes to fit into your project*/
  width:50px;
  height:50px;

}
.load hr{
  border:0;
  margin:0;
  width:40%;
  height:40%;
  position:absolute;
  border-radius:50%;
  animation:spin 2s ease infinite;
}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translateX(200%)}
  25%{transform:translateY(200%)}
  50%{transform:translateX(0)}
  75%{transform:translateY(0)}
}
/********modal************/
.bg-form{
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 2px 50px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  border-bottom: 1px solid gray;
}
.modal-content{
  background: none;
  border: none;
}
