<div class="row p-4 m-0 mt-6 sticky-top">

  <div class="col-3">
    <div class="card tamanho-card">

      <div class="card-header">
        <div class="user-img">
          <img src="{{foto}}" alt="Foto de perfil do usuário">
        </div>
      </div>

      <div class="card-body">
        <div class="d-flex justify-content-center flex-column">
          <div class="nome-container">

            <div class="nome">

              <h5 class="text-capitalize text-center">{{nome}}</h5>

              <div class="tipo">
                <h6>{{tipo}}</h6>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
